{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Admin Dashboard</h2>

<ul>
    <li>
        <a href="{% url 'manage_users' %}">
            <button class="btn btn-info mt-2">Manage Users</button>
        </a>
    </li>
    <li>
        <a href="{% url 'view_feedbacks' %}">
            <button class="btn btn-info mt-2">View Feedback</button>
        </a>
    </li>
    <li>
        <a href="{% url 'admin_view_payments' %}">
            <button class="btn btn-info mt-2">View Payments</button>
        </a>
    </li>
    <li>
    <a href="{% url 'view_report' %}">
        <button class="btn btn-info mt-2">View Report</button>
    </a>
    </li>


{% endblock %}