{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <h2 class="mb-4">Member Dashboard</h2>

    <ul class="list-unstyled">
        <li>
            <a href="{% url 'view_my_plans' %}" class="btn btn-info mt-2">View My Workout/Diet Plans</a>
        </li>
        <li>
            {% if user.role == 'member' %}
                <a href="{% url 'submit_feedback' %}" class="btn btn-info mt-2">Submit Feedback</a>
            {% endif %}
        </li>
        <li>
            <a href="{% url 'member_progress' %}" class="btn btn-info mt-2">Track Progress</a>
        </li>
    </ul>

    {% if has_paid %}
        <div class="alert alert-success mt-4">
            ✅ Payment already completed.
        </div>
    {% else %}
        <a href="{% url 'initiate_payment' %}" class="btn btn-success mt-4">Make Payment</a>
    {% endif %}
</div>
{% endblock %}
