{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Trainer Dashboard</h2>
<ul>
    <li>
        <a href="{% url 'view_assigned_members' %}">
            <button class="btn btn-info mt-2">View Assigned Members</button>
        </a>
    </li>
    <li>
        <a href="{% url 'upload_plan' %}">
            <button class="btn btn-info mt-2">Upload Workout Plans/Diet Charts</button>
        </a>
    </li>
    <li>
        <a href="{% url 'progress_list' %}">
            <button class="btn btn-info mt-2">Member Progress Tracking</button>
        </a>
    </li>
</ul>
{% endblock %}