{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>My Workout and Diet Plans</h2><br>

{% if plans %}
    <ul>
        {% for plan in plans %}
            <li>
                <strong>{{ plan.get_plan_type_display }}</strong> - 
                Uploaded on {{ plan.uploaded_at|date:"Y-m-d" }} - 
                <a href="{{ plan.file.url }}" class="btn btn-info mt-2"download>Download</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No plans assigned to you yet.</p>
{% endif %}

{% endblock %}
